@import "bootstrap/dist/css/bootstrap.min.css";

/* Global Styles */
:root {
  --primary-color: #ffffff;
  --secondary-color: #1a1a1a;
  --accent-color: black;
  --hover-color: black;
  --background-color: #000000;
  --card-background: #121212;
  --border-radius: 10px;

  font-family: 'Lato', sans-serif;
  color-scheme: dark;
  color: var(--primary-color);
  background-color: var(--background-color);
}

html, body {
  height: 100%; 
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1; 
  width: 100%;
  margin-top: 60px; 
}

.navbar {
  background-color: var(--secondary-color) !important;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1030; 
}

.footer {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 15px;
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
}

/* Links */
a {
  color: var(--accent-color);
  text-decoration: none;
}

a:hover {
  color: var(--hover-color);
}

.navbar-brand img {
  max-height: 40px;
}

/* Cards */
.card {
  background-color: var(--card-background) !important;
  border-radius: var(--border-radius);
  padding: 1rem;
  text-align: center;
}

.card img {
  border-radius: var(--border-radius);
  max-width: 100%;
}

.card-title {
  font-weight: bold;
  font-family: 'Lato', sans-serif;
}

.form-control {
  border: 2px solid white !important;
  background-color: black !important;
  color: white !important; 
}

.form-control::placeholder {
  color: #bbb !important; 
}

.form-control:focus {
  box-shadow: none !important;
  outline: none !important;
  border-color: black !important;
}

/* Button Styling */
.btn {
  background-color: white !important;
  color: black !important; 
  border: 2px solid black !important;
  font-weight: bold; 
  transition: 0.3s ease-in-out;
}

.btn:hover {
  background-color: rgb(228, 83, 83) !important;
  color: white !important; 
}

.btn:active, .btn:focus {
  background-color: black !important;
  color: white !important; 
  border-color: black !important;
  box-shadow: none !important;
  outline: none !important;
}

.social-links {
  display: flex;
  justify-content: center; 
  gap: 20px; 
  flex-wrap: wrap; 
  margin-top: 20px;
  text-align: center;
  width: 100%;
}

.social-links a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 40px;
  margin-bottom: 10px;
}

.social-links a:hover {
  transform: scale(1.1); 
}
@media (max-width: 768px) {
  .navbar {
    position: fixed;
    width: 100%;
  }
  
  .footer {
    position: relative;
    width: 100%;
  }
  
  .card {
    margin-bottom: 20px;
  }
}



